
/******************** General ********************/

/* Helper class used to hide original textareas infected with CKE */
.ept-hidden {
	display: none;
}

/* No capitalization of task title */
.issue-detail-header {
	text-transform: none !important;
}

/* Enlarge the block with textarea inside */
.fieldset-edit-textarea {
	width: inherit !important;
}

/* Revert side effects caused by CK */
.wiki-edit {
	visibility: visible !important;
	display: block !important;
}

/* Explicit width for particular textareas, needed due the fucking EP stylesheets */
#ept_notes, #ept_issue_description,
#ept_news_description, #ept_document_description {
	width: 643px;
}
textarea[id^="ept_notes-"] {
	width: 643px !important;
}

/* Hide CKE shit */
span[class*="cke_editor_"] {
	display: none !important;
}

/******************** New issue page ********************/
#issue-form_issue_others_static_fields .issue_watchers {
	display: none !important;
}

#ept_watchers input {
	vertical-align: bottom;
}

#issue-dependent-fields,
.issue_updatable_fields {
	width: 220px !important;
	float:right;
	margin-right:10px;
}

/* Subject */
#issue_subject {
	width: 496px !important;
}

/* Datetime fields */
#issue_start_date, #issue_due_date {
	width: 80px;
}

/* Estimated hours */
#issue_estimated_hours {
	margin-left: 0;
}

/* URL field */
#issue_custom_field_values_6 {
	width: 210px;
}

/* Submit buttons */
.new-issue-form .my-page-button-create, .new-issue-form .issue_submit_buttons {
	top: auto !important;
	position: relative !important;
}

#attributes * {
	font-size: 100% !important;
}

#attributes label {
	width: 110px !important;
}

.attachments-container input[type="file"] {
	width: 210px;
}

.markItUpEditor {
	font-size: 13px !important;
	font-family: monospace !important;
	height: 250px !important;
}

/******************** Documents ********************/
#add-document-general .description {
	width: 720px !important;
}