/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/

.markItUp .bold a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/bold.png);
}
.markItUp .italic a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/italic.png);
}
.markItUp .stroke a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/stroke.png);
}

.markItUp .h1 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/heading1.png);
}
.markItUp .h2 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/heading2.png);
}
.markItUp .h3 a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/heading3.png);
}

.markItUp .super a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/superscript.png);
}
.markItUp .sub a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/subscript.png);
}

.markItUp .blist a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/list-bullet.png);
}
.markItUp .nlist a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/list-numeric.png);
}

.markItUp .image a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/picture.png);
}
.markItUp .link a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/link.png);
}

.markItUp .quote a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/quotes.png);
}
.markItUp .code a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/code-block.png);
}
.markItUp .icode a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/code-inline.png);
}

.markItUp .preview a {
	background-image:url(chrome-extension://__MSG_@@extension_id__/markitup/sets/markdown/images/preview.png);
}